.principal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}



input, button {
    border: none;
    outline: none;
    background: none;
}

.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: #ffffff;
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
}

 h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

 label {
     display: block;
     width: 260px;
     margin: 25px auto;
     text-align: center;
 }

 label span {
     font-size: 14px;
     font-weight: 600;
     color: #505f75;
     text-transform: uppercase;
 }

 input {
     display: block;
     width: 100%;
     margin-top: 5px;
     padding-bottom: 5px;
     border-bottom: 1px solid rgba(109, 92, 92, 0.4);
    text-align: center;
 }

 button {
     display: block;
     margin: 0 auto;
     width: 260px;
     height: 36px;
     border-radius: 30px;
     color: #fffef7;
     font-size: 15px;
     cursor:pointer;
 }

 .submit {
     margin-top: 40px;
     margin-bottom: 30px;
     text-transform: uppercase;
     font-weight: 600;
     background: #00bfbf;
 }

 .regis {
     display: block;
     text-align: center;
     margin-top: 0;
     margin-bottom: 30px;
     text-transform: uppercase;
     font-weight: 600;
        color: black;
 }

.bd {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    background: #ffffff;
}


.cuerporec{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #505f75;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    background: #343a40;
    width: 10%;

  }

.cuerporec ul{
    height: 100%;
    margin-left: 0px;
    padding-left: 1px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
}

.cuerporec li{
    text-decoration: none;
    color: white;
    padding: 1px 0 2px 2px;
    font-size: 8pt;
    padding-bottom: 2px;
    margin-top: 15px;
    margin-right: 0pt;
    margin-bottom: 2px;
    margin-left: 10pt;
    height: 50px;
}

.cuerporec a{
    text-decoration: none;
    color: white;
}

.contenedoradmin {
    background-color: white;
    width: 100%;
    height: 100%;
}

